// Screen Break Points
$smallScreen: 768px;
$mobileScreen: 480px;

// Color Scheme
$mainColor: #242582;
$secondaryColor: #2f2fa2;
$borderColor: #f64c72;
$secondaryBorderColor: #99738e;
$navBackColor: #242682ec;
$hoverBGColor: #553d67;